body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.ratingSelect{
	padding-left:0px!important;
	padding-bottom: 15px;
}

.ng-invalid.ng-dirty, .ng-invalid.ng-touched{
	border-color: #d9534f;
}

.ng-valid.ng-dirty{
	border-color: #5cb85c;
}

